/**********************************************************************************
	- File Info -
		File name		: cr_styles_main.css
		Author(s)		: DAVINA Leong Shi Yun
		Date Created	: 28th Sep 2016

	- Contact Info -
		Email	: leong.shi.yun@gmail.com
		Mobile	: (+65) 9369 3752 [Singapore]

***********************************************************************************/
.cr-clickable:hover {
    cursor: pointer;
}

.page-header {
    border-bottom: dotted thin #ccc;
}

.breadcrumb {
    background: none;
    margin-top: 20px;
    border-radius: 0;
    border-bottom: thin solid #ccc;
}

.breadcrumb > li + li:before {
    color: #ccc;
    content: "> ";
    padding: 0 5px;
    font-family: Consolas, "Courier New", Courier, monospace;
    font-size: 1.2em;
}

.content-panel {
    padding-left: 5px;
    padding-right: 5px;
}

.btn-default,
.btn-primary,
.btn-danger,
.btn-success,
.btn-warning,
.btn-info,
.btn-theme,
.btn-theme02,
.btn-theme03,
.btn-theme,
.dropdown-menu {
    border: none;
}

.btn-default-border {
    border: thin solid #ccc;
}