/**********************************************************************************
	- File Info -
		File name		: cr_styles_login.css
		Author(s)		: DAVINA Leong Shi Yun
		Date Created	: 23rd Sep 2016

	- Contact Info -
		Email	: leong.shi.yun@gmail.com
		Mobile	: (+65) 9369 3752 [Singapore]

***********************************************************************************/
html,
body {
    background: url("../img/colourful_balloons.jpg") no-repeat center;
}